{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
<div class="col-md-4">

<form method="post" class="card p-4 shadow-sm">
    <h4 class="mb-3 text-center">Register</h4>

    <input class="form-control mb-3" name="username" placeholder="Username" required>
    <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>

    <button class="btn btn-success w-100">Create Account</button>

    <div class="text-center mt-2">
        <a href="/login">Already have an account?</a>
    </div>
</form>

</div>
</div>

{% endblock %}
